{% extends 'itobj/base.html' %}
{% load itobj_tags %}

{% block content %}

<!-- ======= Blog Section ======= -->
<section class="blog" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
    <div class="container">

        <div class="row">

            <div class="col-lg-8 entries">

                {% for p in posts %}
                <article class="entry">

                    {% show_title_stats p %}

                    <div class="entry-content">
                        <p>
                            {% autoescape off %}
                            {{p.content|truncatewords:50}}
                            {% endautoescape %}
                        </p>
                        <div class="read-more">
                            <a href="{{ p.get_absolute_url }}">Read More</a>
                        </div>
                    </div>

                </article><!-- End blog entry -->
                {% endfor %}

                <div class="blog-pagination">
                    <ul class="justify-content-center">
                        <li class="disabled"><i class="icofont-rounded-left"></i></li>
                        <li><a href="#">1</a></li>
                        <li class="active"><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#"><i class="icofont-rounded-right"></i></a></li>
                    </ul>
                </div>

            </div><!-- End blog entries list -->

            {% show_sidebar %}

        </div><!-- End .row -->

    </div><!-- End .container -->

</section><!-- End Blog Section -->


{% endblock %}