<h2 class="entry-title">
    <a href="{{ p.get_absolute_url }}">{{p.title}}</a>
</h2>

<div class="entry-meta">
    <ul>
        <li class="d-flex align-items-center"><i class="icofont-list"></i> <a href="">{{p.cat}}</a></li>
        <li class="d-flex align-items-center"><i class="icofont-user"></i> <a href="">Kirill Netreba</a></li>
        <li class="d-flex align-items-center"><i class="icofont-wall-clock"></i> <a href="">
            <time datetime="{{p.time_update}}">{{p.time_update|date:"M d, Y"}}</time>
        </a></li>
        <li class="d-flex align-items-center"><i class="icofont-heart"></i> <a href="">{{p.likes}}
            </a></li>
        <li class="d-flex align-items-center"><i class="icofont-money-bag"></i> <a href="">{{p.trending}}
            </a></li>
        <li class="d-flex align-items-center"><i class="icofont-eye"></i> <a href="">{{p.views}}
            </a></li>
    </ul>
</div>
